@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  box-shadow: none !important;
}
body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  overflow-y: hidden !important; 
}

* {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: #e4e4e4;
}
*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.removePadding .ql-editor {
  padding: 0px !important;
}

@layer base {
  .header {
    @apply text-xl xs:text-2xl sm:text-3xl font-semibold text-gray-900 mb-2.5 sm:mb-4;
  }
  .subheader {
    @apply max-xs:text-sm text-gray-600 mb-4 xs:mb-6;
  }
  .button {
    @apply w-32 text-center py-2.5 rounded-lg font-medium cursor-pointer  bg-btnBg text-white;
  }
  .not_found {
    @apply text-center text-4xl font-semibold text-gray-600 my-20;
  }
  .triangle {
    @apply w-0 h-0 border-t-[20px] border-t-transparent border-r-[20px] border-white border-b-[20px] border-r-transparent rotate-45;
  }
}
